<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!--    Create a bean-->
<!--    <bean id="alien" class="com.springframework.Alien" scope="singleton">-->
<!--    </bean>-->

<!--    Initialize the bean-->
<!--    <bean id="alien" class="com.springframework.Alien" scope="singleton">-->
<!--        <property name="age" value="21"/>-->
<!--        <property name="lap" ref="laptop"/>-->
<!--    </bean>-->

<!--    Initialize single value using Constructor-->
<!--    <bean id="alien" class="com.springframework.Alien" scope="singleton">-->
<!--        <constructor-arg value="35"/>-->
<!--        <property name="lap" ref="laptop"/>-->
<!--    </bean>-->

    <!--    Initialize multiple values using Constructor-->
<!--    <bean id="alien" class="com.springframework.Alien" scope="singleton">-->
<!--        <constructor-arg value="35"/>-->
<!--        <constructor-arg ref="laptop"/>-->
<!--    </bean>-->

    <!--    IMention the type of the variable-->
<!--    <bean id="alien" class="com.springframework.Alien" scope="singleton">-->
<!--        <constructor-arg type="com.springframework.Laptop" ref="laptop"/>-->
<!--        <constructor-arg type="int" value="35"/>-->
<!--    </bean>-->

<!--    Same type of variable-->
<!--    <bean id="alien" class="com.springframework.Alien" scope="singleton">-->
<!--        <constructor-arg type="int" value="35000"/>-->
<!--        <constructor-arg type="com.springframework.Laptop" ref="laptop"/>-->
<!--        <constructor-arg type="int" value="35"/>-->
<!--    </bean>-->

<!--    <bean id="alien" class="com.springframework.Alien" scope="singleton">-->
<!--        <constructor-arg name="salary" value="35000"/>-->
<!--        <constructor-arg name="com" ref="laptop"/>-->
<!--        <constructor-arg name="age" value="35"/>-->
<!--    </bean>-->

<!--    <bean id="alien" class="com.springframework.Alien" scope="singleton">-->
<!--        <property name="age" value="35"/>-->
<!--        <property name="salary" value="35000"/>-->
<!--        <property name="com" ref="com"/>-->
<!--    </bean>-->

<!--    Autowire using name-->
<!--    <bean id="alien" class="com.springframework.Alien" scope="singleton" autowire="byName">-->
<!--        <property name="age" value="35"/>-->
<!--        <property name="salary" value="35000"/>-->
<!--    </bean>-->

    <!--    Autowire with explicit property-->
<!--    <bean id="alien" class="com.springframework.Alien" scope="singleton" autowire="byName">-->
<!--        <property name="age" value="35"/>-->
<!--        <property name="salary" value="35000"/>-->
<!--        <property name="com" ref="com1"/>-->
<!--    </bean>-->

<!--    Autowire using type-->
    <bean id="alien" class="com.springframework.Alien" scope="singleton" autowire="byType">
        <property name="age" value="35"/>
        <property name="salary" value="35000"/>
    </bean>

<!--    Create multiple beans-->
<!--    <bean id="alien1" class="com.springframework.Alien">-->
<!--    </bean>-->

    <bean id="com" class="com.springframework.Laptop" scope="prototype">
    </bean>

<!--    <bean id="com1" class="com.springframework.Desktop" scope="prototype">-->
<!--    </bean>-->

<!--    <bean id="laptop" class="com.springframework.Laptop" scope="prototype">-->
<!--    </bean>-->

</beans>

